html body{
    width: 405px;
    margin: 0 auto;
    background-color:rgb(207, 166, 239);
}

#todoinput {
    height: 40px;
    border-width: 0px;
    border: 1px solid black;
    outline:none;
    font-size: 25px;
    vertical-align: middle;
}

#addbutton {
    height: 35px;
    width: 49px;
    border:1px solid black;
    border-radius: 10px;

}